#project-section {
  max-width: 85%;
  margin: 50px auto;
  text-align: left;
}

.project {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  max-width: 75%;
  margin: 50px auto;
  grid-template-columns: 60% 40%;
  background-color: #f1f1fa;
  border-radius: 20px;
  padding: 25px;
}

.project-img {
  width: 70%;
  display: flex;
  margin: auto;
}

.project h3 {
  margin: 0;
  line-height: 40px;
}

.project-date {
  color: #3c3c3c;
  line-height: 24px;
}

.project p,
li {
  font-size: 14px;
  line-height: 22.75px;
}

.project-skill {
  font-family: "Nunito", sans-serif;
  display: inline-block;
  font-size: 12px;
  color: black;
  background-color: white;
  padding: 8px 10px;
  margin: 5px;
  /* border: 1px solid black; */
  border-radius: 5px;
}

.project-link-btn {
  margin: 20px auto;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #0d43a0;
  border: 2px solid #0d43a0;
  background-color: white;
  border-radius: 30px;
  padding: 20px 40px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  /* Projects Section */

  #project-section {
    max-width: 100%;
    margin: 50px auto;
  }

  .project {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    text-align: center;
    max-width: 75%;
    margin: 50px auto;
    grid-template-columns: 60% 40%;
    background-color: #f1f1fa;
    border-radius: 20px;
    padding: 25px;
  }

  .project-img {
    width: 70%;
  }

  .project h3 {
    margin: auto;
    line-height: 40px;
    text-align: center;
  }

  .project-date {
    color: #3c3c3c;
    line-height: 24px;
    display: flex;
    justify-content: center;
  }

  .project p,
  li {
    text-align: left;
    font-size: 14px;
    line-height: 22.75px;
  }

  .project-skill {
    font-family: "Nunito", sans-serif;
    display: inline-block;
    font-size: 12px;
    color: black;
    background-color: white;
    padding: 8px 10px;
    margin: 5px;
    /* border: 1px solid black; */
    border-radius: 5px;
  }

  .project-link-btn {
    margin: 20px auto;
    font-size: 14px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    color: #0d43a0;
    border: 2px solid #0d43a0;
    background-color: white;
    border-radius: 30px;
    padding: 20px 40px;
    cursor: pointer;
  }
}
