#skill-section {
  background-color: #f1f1fa;
  padding: 10px 0;
}

#skill-section-inner {
  max-width: 70%;
  margin: 70px auto;
}

#skills {
  margin: 50px auto;
  display: grid;
  justify-content: center;
  gap: 30px;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
}

.skill {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.skill p {
  color: #242424;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

.skill img {
  max-width: 50%;
  background: #242424;
  background: linear-gradient(
    294deg,
    rgba(36, 36, 36, 1) 0%,
    rgba(36, 36, 36, 0.7990546560421043) 100%
  );

  padding: 10px;
  border-radius: 20px;
  margin: auto;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.skill img:hover {
  box-shadow: 0 3px 20px rgb(0 0 0 / 0.4);
  /* cursor: pointer; */
}

@media screen and (max-width: 768px) {
  #skills {
    display: grid;
    gap: 30px;
    justify-content: center;
    grid-template-columns: 20% 20% 20% 20%;
  }

  .skill p {
    display: flex;
    justify-content: center;
    color: #242424;
    font-size: 0.75rem;
  }

  .skill img {
    max-width: 75%;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
  }
}
