#skill-section {
  background-color: #f1f1fa;
  padding: 10px 0;
}

#skill-section-inner {
  max-width: 70%;
  margin: 70px auto;
}

#skills {
  margin: 50px auto;
  display: grid;
  gap: 30px;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
}

@media screen and (max-width: 768px) {
  #skills {
    display: grid;
    gap: 30px;
    justify-content: center;
    grid-template-columns: 20% 20% 20% 20%;
  }

  .skill p {
    display: flex;
    justify-content: center;
    color: #0d43a0;
    font-size: 12px;
  }

  .skill img {
    max-width: 75%;
    background: rgb(88, 93, 254);
    background: linear-gradient(
      294deg,
      rgba(88, 93, 254, 1) 0%,
      rgba(72, 131, 233, 0.7990546560421043) 100%
    );
    padding: 10px;
    border-radius: 10px;
    margin: auto;
  }
}

.skill {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.skill p {
  color: #0d43a0;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.skill img {
  max-width: 50%;
  background: rgb(88, 93, 254);
  background: linear-gradient(
    294deg,
    rgba(88, 93, 254, 1) 0%,
    rgba(72, 131, 233, 0.7990546560421043) 100%
  );
  padding: 10px;
  border-radius: 20px;
  margin: auto;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
