@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Rubik&display=swap");
html {
  scroll-behavior: smooth;
}

.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: #606060;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #242424;
  margin: 0 auto;
  line-height: 48px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #242424;
  margin: 0 auto;
  line-height: 48px;
}

@media screen and (min-width: 768px) {
  h2 {
    margin: 100px auto;
    color: #242424;
    text-align: center;
    font-size: 36px;
    max-width: 600px;
    margin: 3.5rem auto;
    position: relative;
  }

  h2:before {
    content: "";
    display: block;
    width: 130px;
    height: 5px;
    background: #242424;
    left: 0;
    top: 50%;
    position: absolute;
  }

  h2:after {
    content: "";
    display: block;
    width: 130px;
    height: 5px;
    background: #242424;
    right: 0;
    top: 50%;
    position: absolute;
  }
}

h3 {
  font-size: 36px;
  color: #242424;
  font-weight: 800;
}

@media (display-mode: standalone) {
  body {
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
      env(safe-area-inset-bottom) env(safe-area-inset-left) !important;
  }
}
